*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(214, 211, 211);
}

.photo{
    width: 223.5px;
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.rect{
    margin: auto;
    background-color: white;
    margin-top: 30px;
    width: 223px;
    height: 280px;

}
.text{
    padding: 10px 15px;
    font-family: ;
    padding-right: 18px;
    

}
#title{
    font-family: sans-serif;
    padding-top: 20px;
   
    
}
.btn{
    display: block;
    margin: auto;
    padding: 5px 60px;
    background-color: hsl(216, 69%, 86%);
    border: none;
    color: blue;

}
